__pycache__
.pytest_cache
db.sqlite3
settings2.py
.pytest_cache
migrations
software
data
.vscode/settings.json
test.py
bootstrap-4.3.1-dist
transcript_count_matrix.csv
gene_count_matrix.csv
test3
test_samtools_out
test_workflow1_docker
test_workflow2_docker
test_htseq_counts_out
test_htseq_prepare_out
test_stringtie_out
test_fgsea_out
test_dexseq_out
test_DESeq2_out
test1gz
STARIndex
STARIndexd
hisat2_align
hisat2_build
test1
test2
test.py
test.yml
test.cwl
test.dot
.vscode/.ropeproject/config.py
