__pycache__
STARIndex
.pytest_cache
test_stringtie_out
test_samtools_out
test_htseq_prepare_out
test_htseq_counts_out
test_fgsea_out
test_dexseq_out
STARIndexd
test1d
db.sqlite3
.pytest_cache
migrations
test_DESeq2_out
hisat2_align
hisat2_build
software
gene_count_matrix.csv
transcript_count_matrix.csv