__pycache__
.pytest_cache
db.sqlite3
settings2.py
migrations
software
data
.vscode/settings.json
bootstrap-4.3.1-dist
transcript_count_matrix.csv
gene_count_matrix.csv
test_samtools_out
test_workflow1_docker
test_workflow2_docker
test.py
test.cwl
test.yml
.vscode/launch.json
