language: python

sudo: required
dist: xenial
python:
  - "3.6"

cache: pip

install:
  - pip install -r requirements.txt

before_script:
  - wget https://github.com/alexdobin/STAR/archive/2.6.0a.tar.gz
  - tar -xzf 2.6.0a.tar.gz
  - export PATH=$PATH:$PWD/STAR-2.6.0a/bin/Linux_x86_64
  - wget https://github.com/samtools/samtools/releases/download/1.9/samtools-1.9.tar.bz2
  - tar -vxjf samtools-1.9.tar.bz2
  - cd samtools-1.9
  - make
  - cd ..
  - export PATH=$PATH:/usr/bin/samtools-1.9
  - echo $PATH
  - source ~/.profile
  - samtools
  - git clone https://github.com/gpertea/stringtie
  - cd stringtie
  - make release
  - cd ..
script:
  - pytest tests
