language: python

sudo: required
dist: trusty
python:
  - "3.6"

if: branch != tony_django

install:
  - pip install -r requirements.txt

before_script:
  - bash ./install_dependency.sh
  - export PATH=$PATH:$PWD/software
script:
  - pytest tests

cache:
  pip: true
  directories:
  - ./software
