language: python

sudo: required
dist: trusty
python:
  - "3.6"

cache:
  pip: true
  directories:
    - ./software
install:
  - pip install -r requirements.txt

before_script:
  - bash ./install_dependency.sh
  - export PATH=$PATH:$PWD/software
script:
  - pytest tests
