{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
    {% load static %}
      <title>D3 Page Template</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div id='wrapper'>
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}}">
            <p>{{message}}</p>
          </div>
        {% endfor %}
      {% endif %}

      <div id='sidebar_wrapper'>

        <ul class='sidebar-nav'>
        <!-- <li><a onclick="wf_select(1)">star workflow</a></li> -->
        <!-- <li><a onclick="wf_select(2)">hisat workflow</a></li> -->
        <!-- <li><a href="#">further wofkflows</a></li> -->
        <fieldset>
        <li>
          {% for workflow in workflows %}
            <input  type="checkbox"  name="" class='checkbox_wf' value="{{forloop.counter}}" checked>
            <label  for="">{{workflow.label}}</label><br>
          {% endfor %}
        </li>
      </fieldset>
        </ul>
      </div>

<div id='page_content_wrapper'>
  <div id='sidebar_toggle' class="toggle_btn">
    <span></span>
    <span></span>
    <span></span>
  </div>

<ul class="nav nav-tabs nav-justified" role="tablist">
  <li class="nav-item">
    <a id='id_volcano_tab' class="nav-link active" data-toggle="tab" href="#id_href_volcano">Volcano Plot</a>
  </li>
  <li class="nav-item">
    <a  id='id_barplot_tab' class="nav-link" data-toggle="tab" href="#id_barplot">Bar Plot</a>
  </li>
</ul>


  <div class="tab-content">
    <div id="id_href_volcano" class="container tab-pane active"><br>
      volc test
      <div style="height: 1000px;width:1000px;">
        <svg id='id_painting_volcano' style="height: 100%;width: 100%">
        </svg>
      </div>
    </div>
    <div id="id_barplot" class="container tab-pane fade"><br>
      bar test
      <div style="height: 1000px;width:1000px;">
        <svg id='id_painting_barplot' style="height: 100%;width: 100%">
        </svg>
      </div>
    </div>
  </div>

<!-- <input type="submit" class='btn btn-success' onclick='wf_select_barplot()' value="Bar Plot" /> -->

<div class="dataFilterControls">
  <div class="slidecontainer jumbotron">
    <!-- <input type="text" name="" value=""> -->
    <label for="">P Value</label>
    <input type="range" min="1" max="50" class="slider" id="id_p_threshold">
    <p>Value: <span id="id_p_threshold_out"></span></p>
    <br>
    <label for="">Log Fold Change</label>
    <input type="range" min="1" max="9" class="slider" id="id_log2_threshold">
    <p>Value: <span id="id_log2_threshold_out"></span></p>
  </div>
</div>


      </div><!-- PAGE CONTENT WRAPPER -->
</div> <!-- WRAPPER -->


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js" integrity="sha256-RtVUDWfx0vF5nrvHDYcQoWSPaOuQ0R8Rq9kUG2kSvH8=" crossorigin="anonymous"></script> -->
  <script src= "{% static 'js/d3.js' %}"></script>
  <script src= "{% static 'js/my_volcano.js' %}"></script>
  <script src= "{% static 'js/my_barplot.js' %}"></script>
  <script>
  {% block jquery %}

  // var endpoint = 'api/data' $.ajax({
  //   method: 'GET',
  //   url: endpoint,
  //   success: function(data){
  //     // console.log(data)
  //   },
  //   error: function(error_data){
  //     console.log('error')
  //     console.log(error_data)
  //   }
  // })

  {% endblock %}

  $('#sidebar_toggle').click(function(e){
    // e.preventDefault();
    $('#wrapper').toggleClass('menuDisplayed')
    // console.log('hi')
  });
  $( "#id_volcano_tab" ).click(function() {
    wf_select()
    console.log('called wf_select')
    // alert( "Handler for .click() called." );
    console.log('loading volcano')
  });
  $( "#id_barplot_tab" ).click(function() {
    // wf_select()
    // alert( "Handler for barplot called." );
    wf_select_barplot()
    console.log('loading barplot')
    wf_select()
  });
  </script>


  {% endblock %}
  </body>
</html>
<input type="submit" class='btn btn-success' onclick='wf_select()' value="Bar Plot" />
