

<!-- NON DJ STATIC HTML -->
<head>
  <meta charset="utf-8">
  {% block head %}
    <title>viz index</title>

  {% endblock %}
</head>
<body>

<div id='wrapper'>
  <div id='sidebar_wrapper'>
    <ul class='sidebar-nav'>
      <li><a href="#">first</li></a>
      <li><a href="#">second</li></a>
      <li><a href="#">third</li></a>
    </ul>
  </div>

  <!-- NAV PANE SELECTION -->
  <div id='page_content_wrapper'>
    <div id='sidebar_toggle' class="toggle_btn">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Data Table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#plot1">Plot 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#plot2">Plot 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#plot3">Plot 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#plot4">Plot 4</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="home" class="container tab-pane active"><br>
        <h3>The user data table</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div id="plot1" class="container tab-pane fade"><br>
        <h3>Plot 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="plot2" class="container tab-pane fade"><br>
        <h3>Plot 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="plot3" class="container tab-pane fade"><br>
        <h3>Plot 3</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="plot4" class="container tab-pane fade"><br>
        <h3>Plot 4</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
    </div>
  </div>
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script><!-- jQuery cdn is required prior to using bootstrap -->
<script>
$('#sidebar_toggle').click(function(e){
  // e.preventDefault();
  $('#wrapper').toggleClass('menuDisplayed')
  // console.log('hi')
});
</script>
