html,body{
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
}


/* FONT */
.text-white{
  color: #dae0ea;
  /* text-decoration: line-through; */
}


.sans_serif{
    font-family: 'Open Sans', sans-serif;
}


/* INTRO */
.intro{
  width:100%;
  height:100%;
  margin:auto;
  background-image: url('../images/dna.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
}

.intro .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content{
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 230px;
  margin-top: 100px;
  color: #101111;
  font-size: 140%;
  font-family: 'Open Sans', sans-serif;
}

#upload_btn{
  border-radius: 9px;
  font-size: 80%;
  padding-top: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  border: solid;
  text-transform: uppercase;
  text-decoration: none;
  color:inherit;
}

#upload_btn:hover{
  color: gray;
  border: solid gray 3px;
  /* color: inherit; */
}

#search_field_1{
  width: 420px;
}

.warning{
  background-color: rgba(196, 27, 27, 0.1);
  margin: 15px;
}

.success_one{
  background: rgba(18, 178, 10, 0.3);
  margin: 50px;
}

.text_body_1{
  font-size: 130%;
  line-height: 150%;
  text-align: justify;
}

@media screen and (max-width:760px){
  .content h1{
    font-size: 250%;
  }
}


/* BASE.HTML STYLE */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c2d0f9;
  color: white;
  text-align: center;
}

.condition_table{
  /* width: 400px; */
   width: auto !important;
}


/* FORMS */
.form{
  border-radius: 10px;
  border: 2px solid #044c7c;
  padding: 10px;
}

.form_title{
  text-align: center;
}

.create_form{
  /* text-align: center; */
  margin: 90px;
  padding: 20px;
  background: rgba(90, 100, 100, 0.2);
  /* border: 1px solid gray; */
  /* border:20px */
  /* display: block; */
  /* width: 100%; */
  font-size: 120%;
}

.create_form_element{
  margin-bottom: 28px;
  margin-top: -10px;
  /* background:yellow; */
}

.create_btn{
   background-color: #4CAF50;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   width:100%;
   cursor: pointer;
}

.debug1{
  /* border-style: solid; */
  border-radius: 5px;
  border: 2px solid red;
  padding: 5px;
  margin: 10px;
  background: blue;
}

.debug2{
  border-radius: 5px;
  border: 2px solid yellow;
  padding: 5px;
  margin: 10px;
}



/* SESSION DETAIL STYLE */
.session_detail_one{
  margin: 20px;
  /* background-color: #e4d7e8; */
  /* background: rgba(90, 100, 100, 0.1); */
  /* border: 2px solid black; */
  padding: 10px;

}

#id_conditions_div{
  /* display: none; */
}

#id_samples_div{
  /* display: none; */
}

#id_workflow_div{
  /* display: none; */
}

#session_upload{
  display: none;
}

/*
.hidden{
  display:none;
} */

.myHidden{
  display: none;
}
