html,body{
  background-color: #e5e8e7;
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
}

p {
  color: #1b2433;
}

.text-white{
  color: #dae0ea;
  /* text-decoration: line-through; */
}
.debug{
  /* border-style: solid; */
  border-radius: 5px;
  border: 2px solid #8e1332;
  padding: 5px;
  margin: 10px;
  /* background: blue; */
}

.form{
  border-radius: 10px;
  border: 2px solid #044c7c;
  padding: 10px;
}

.sans_serif{
    font-family: 'Open Sans', sans-serif;
}

.intro{
  width:100%;
  height:100%;
  margin:auto;
  background-image: url('../images/dna.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
}

.intro .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content{
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 230px;
  margin-top: 100px;
  font-size: 140%;
  color: #101111;
  font-family: 'Open Sans', sans-serif;
}

#upload_btn{
  border-radius: 9px;
  font-size: 80%;
  padding-top: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  border: solid;
  text-transform: uppercase;
  text-decoration: none;
}
#upload_btn:hover{
  color: gray;
  border: solid gray 3px;
}


#search_field_1{
  width: 420px;
}

.warning{
  background-color: rgba(196, 27, 27, 0.1);
  margin: 15px;
}

.text_body_1{
  font-size: 130%;
  line-height: 150%;
  text-align: justify;
}

@media screen and (max-width:760px){
  .content h1{
    font-size: 250%;
  }
}

/* FORM STYLE */
/* Style the form - display items horizontally */
.form-inline_1 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  /* border: solid blue 10px; */
}

/* Add some margins for each label */
.form-inline_1 label {
  margin: 5px 10px 5px 10;
}

/* Style the input fields */
/* .form-inline_1 input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
} */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c2d0f9;
  color: white;
  text-align: center;
}

.condition_table{
  /* width: 400px; */
   width: auto !important;
}
