<!DOCTYPE html>
<html>
  <head>

      <meta charset="utf-8">
      {% load static %}
      <!-- REMOTE CSS -->
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous"> -->
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"> -->
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
      <!-- LOCAL CSS -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}"> -->

    {% block head %}
    {% endblock %}
    <title>base</title>
  </head>

  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'analysis:session_index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'analysis:session_list' %}">Sessions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'analysis:condition_list' %}">Conditions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'analysis:samples_list' %}">Samples</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'analysis:workflow_list' %}">Workflow</a>
        </li>
      </ul>
    </div>
  </nav> -->

<body>

{% block body %}
<h2>content loaded from base.html</h2>
{% endblock %}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src= "{% static 'js/myscript.js' %}"></script>
  <script src= "{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>

<!-- BOOTSTRAP CRASH - NEED TO CONVERT CDN OVER TO DOWNLOADED FILE USE -->
<!-- REMOTE SCRIPTS -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
<!-- LOCAL SCRIPTS -->
