{%extends 'base.html'%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">


    {% block head %}
      <title>create</title>
    {% endblock %}


  </head>
  <body>
    {% block body %}
      <!-- <h3>templates/pages/create.html</h3> -->
      <br>
      <h4>FastQ file submission</h4>
      <div class="row">
        <div class="container col jumbotron">
          <form enctype="multipart/form-data" method=POST action="" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary" name="button">SUBMIT</button>
          </form>
        </div>
      </div>

    {% endblock %}
  </body>
</html>


<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
</form>
