{%extends 'base.html'%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
    <title>register</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <h1>register to submit files</h1><br>
        <div class="container">
          <form method="post">
            {% csrf_token %}
            <fieldset class='form-group'>
              <legend class='border-bottom mb-4'>Sign Up</legend>
              {{ form.as_p }}<br>
                <p>current user: {{ request.user }}</p>
            </fieldset>
            <div class="form-group">
              <button type="submit" class="btn btn-outline btn-info" name="button">SUBMIT</button>
            </div>
          </form>
          <div class="border-top pt-3">
            <small class='text-muted'>already have account?</small>
            <a href="#" class="ml-2">sign in </a>
          </div>
          <div class="alert">
            <!-- <h1>{{ username_link }}</h1> -->
          </div>
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        </div> <!-- end container -->

  {% endblock %}
  </body>
</html>
