{%extends 'base.html'%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>Condition Detail</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="jumbotron">
      <h1>Delete Condition: {{condition.id }}?</h1>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-danger" value="Delete">
        <a href="{% url 'analysis:session_detail' session_slug=condition.session.identifier %} ">Cancel</a>
      </form>
  {% endblock %}
  </body>
</html>
