{%extends 'base.html'%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>conditions upload list</title>
    {% endblock %}
  </head>
  <body>
      {% block body %}
      <h3>current conditions in db</h3>
      
      {% for condition in conditions %}
      <div class="jumbotron">
        <p>pk: {{ condition.pk }}</p>
        <p>condition: {{ condition.conditions }}</p>
        <p>replicates: {{ condition.no_replicates }}</p>
      </div>
      {% endfor %}

  {% endblock %}
  </body>
</html>
