{%extends 'base.html'%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>Conditions Detail</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="jumbotron">
      <h3> conditions {{ conditions_detail.pk}} details </h3>
      <hr class="my-4">
        <p>condition: {{conditions_detail.conditions}}</p>
        <p>number replicates: {{conditions_detail.no_replicates}}</p>
        <a class='btn btn-warning' href="{% url 'analysis:conditions_update' pk=conditions_detail.pk %}">Update</a>
        <a class='btn btn-danger' href="{% url 'analysis:conditions_delete' pk=conditions_detail.pk %}">Delete</a>
        <br><br>
    {% if conditions_detail.samples.all %}

      <p class='lead'>{{ conditions_detail.conditions}} Samples:</p>
        {% for sample in conditions_detail.samples.all %}
          <p>Library Type: {{sample.libtype}}</p>
          <p>Read 1: {{sample.read_1}}</p>
          <p>Read 2: {{sample.read_1}}</p>
        {% endfor %}<p>
      {% endif %}
      {% if not conditions_detail.samples.all %}
          <p class='lead'>{{ conditions_detail.conditions}} Samples:</p>
          <p>No samples associated with this condition.</p>
      {% endif %}
      <a class='btn btn-success' href="{% url 'analysis:samples_create' pk=conditions_detail.pk %}">Add Sample</a>
    </div>
  {% endblock %}
  </body>
</html>



<!-- # iterate over no_replicates, create a table for user to add samples each row -->
<!-- {{conditions_detail.no_replicates}} -->
