{%extends 'base.html'%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>conditions list</title>
    {% endblock %}
  </head>
  <body>
      {% block body %}
      <h3>current conditions in db</h3>
      <table class="table mb-0">
        <thead>
          <tr>
            <td>Primary Key</td>
            <th>Condition</th>
            <th>Number Replicates</th>
            <th>Session</th>
          </tr>
        </thead>
        <tbody>
            {% for condition in conditions_list %}
            <tr>
              <td><a href="conditions_detail/{{ condition.pk }}">Condition: {{ condition.pk }}</a></td>
              <td>{{ condition.conditions }}</td>
              <td>{{ condition.no_replicates }}</td>
              <td>{{ condition.session }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    {% endblock %}
  </body>
</html>
