{%extends 'base.html'%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>Conditions Detail</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="jumbotron">
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class='btn btn-primary' value="Update">
      </form>
      <h2>session: pk: {{session_pk}}</h2>
      <h2>conditions pk: {{conditions_pk}}</h2>
      {{ session1 }}
  {% endblock %}
  </body>
</html>
