{%extends 'base.html'%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>Conditions Create</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <div class="offset-3 col-md-6">
        <div class="">
          <div class="form-group">
            <form method="POST"  enctype="multipart/form-data" class="create_form">
              {% csrf_token %}

              <div class="form_title">
                <h4>NEW CONDITION</h4>
              </div>
              <hr class="my-4">

              {{form|crispy}}
              <br>
              <input type="submit" class='create_btn' value="Submit">
            </form>
          </div>
        </div>
      </div>
    {% endblock %}
  </body>
</html>
