{%extends 'base.html'%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>Samples list</title>
    {% endblock %}
  </head>
  <body>
      {% block body %}
      <div class="jumbotron">
      <h3>current samples in db</h3>
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Session</th>
            <th>Condition</th>
            <th>Library Type</th>
            <th>Read One</th>
            <th>Read Two</th>
          </tr>
        </thead>
        <tbody>
            {% for sample in samples_list %}
            <tr>
              <td><a href="session_detail/{{sample.session.identifier}}">{{ sample.session }}</a></td>
              <td>{{sample.condition}}</td>
              <td>{{ sample.libtype }}</td>
              <td>{{ sample.read_1 }}</td>
              {% if sample.read_2 %}
                <td>{{ sample.read_2 }}</td>
              {% endif %}
              {% if not sample.read_2 %}
                <td>N/a</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
    {% endblock %}
  </body>
</html>
