{%extends 'base.html'%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>Samples Create</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}

    <div id='validate_library'>
      <p style='margin:30px;padding-top:14px;padding-bottom:22px;padding-left:14px;border-radius:2%;background:#fceeb3;color:#856404;'>Paired End Read Selected. Please Upload Second File.</p>
    </div>
      <div class="offset-3 col-md-6">
        <div class="">
          <div id='id_samples_form' class="form-group">
            <form method="POST"  enctype="multipart/form-data" class="create_form">
              {% csrf_token %}

              <div class="form_title">
                <h4>NEW SAMPLE</h4>
              </div>
              <hr class="my-4">

              {{form|crispy}}
              <br>
              <input type="submit" class='create_btn' value="Submit">
            </form>
          </div>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script><!-- jQuery cdn is required prior to using bootstrap -->
      <script type="text/javascript">
        $( document ).ready(function() {
          console.log('samples_form javascript loaded')
        });


        $( "#id_samples_form" ).submit(function() {
          // alert( "Handler for .submit() called." );
          if ($('#div_id_libtype option:selected').val() == 'PE'){ // executes if PE selected from dropdown
            if ($('#id_read_2').val() == ''){ // checks if read_2 file upload is empty
              $('#validate_library').show()
              return false;
            }
          }
        });

      </script>
    {% endblock %}
  </body>
</html>
