{%extends 'base.html'%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>sample upload list</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <h3>current samples in db</h3>
    <table class="table mb-0">
      <thead>
        <tr>
          <!-- <th>Cover</th> -->
          <th>Session</th>
          <th>condition</th>
          <th>read_1</th>
          <th>read_2</th>
          <!-- <th>Delete</th> -->
        </tr>
      </thead>
      <tbody>
        {% for sample in samples %}
          <tr>
            <td>{{ sample.session }}</td>
            <td>{{ sample.condition }}</td>
            <td>{{ sample.read_1 }}</td>
            <td>{{ sample.read_2 }}</td>
            <td>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
  {% endblock %}
  </body>
</html>
