{%extends 'base.html'%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>Session list</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}

    <h1>{{ session.organism }}</h1>
    <div class="jumbotron">
      <h3>current sessions in db</h3>
      <table class="table mb-0">
        <thead>
          <tr>
            <th>key</th>
            <th>Organism</th>
            <th>Genome</th>
            <th>fasta_file</th>
            <th>annotaiton_file</th>
          </tr>
        </thead>
        <tbody>
          {% for session in session_list %}
            <tr>
              <td><a href="session_detail/{{ session.pk }}">Sesison: {{ session.pk }}</a></td>
              <td>{{ session.organism }}</td>
              <td>{{ session.genome }}</td>
              <td>{{ session.fasta_file }}</td>
              <td>{{ session.annotation_file }}</td>
              <td>
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'analysis:session_create' %}"><button type="submit" class="btn btn-primary" name="button">New Session</button><a>

    </div>
  {% endblock %}
  </body>
</html>
