

{%extends 'base.html'%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>Conditions Create</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <div class="offset-3 col-md-6">
        <div class="">
          <div class="form-group">
            <form method="POST"  enctype="multipart/form-data" class="create_form">
              {% csrf_token %}

              <div class="form_title">
                <h4>NEW SESSION</h4>
              </div>
              <hr class="my-4">

              <label for="">{{form.genome_index.label_tag}}</label>
              {{form.genome_index}}
              <label for="">{{form.select_genome.label_tag}}</label>
              {{form.select_genome}}
              <label for="">{{form.organism.label_tag}}</label>
              {{form.organism}}
              <label for="">{{form.salmon.label_tag}}</label> <a href="#" data-toggle="tooltip" data-placement="top" title="Will You Require Salmon in Downstream Analysis?"><span class="glyphicon glyphicon-info-sign"></span></a>
              {{form.salmon}}
              <label for="">{{form.fasta_dna_file.label_tag}}</label> <a href="#" data-toggle="tooltip" data-placement="top" title="Dont Know What This Is? You Should Not Be Using This Site."><span class="glyphicon glyphicon-info-sign"></span></a>
              {{form.fasta_dna_file}}
              <label for="">{{form.fasta_cdna_file.label_tag}}</label> <a href="#" data-toggle="tooltip" data-placement="top" title="Required For Downstream Analysis With Salmon"><span class="glyphicon glyphicon-info-sign"></span></a>
              {{form.fasta_cdna_file}}
              <label for="">{{form.gtf_file.label_tag}}</label> <a href="#" data-toggle="tooltip" data-placement="top" title="Please Annotate Me"><span class="glyphicon glyphicon-info-sign"></span></a>
              {{form.gtf_file}}
              <br>
              <input type="submit" class='create_button' value="Submit">
            </form>
          </div>
        </div>
      </div>
    {% endblock %}
  </body>
</html>
