  {%extends 'base.html'%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>Session Detail</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="jumbotron">
        <div class="card bg-light mb-3" style="max-width: 120rem;">
          <div class="card-header">Session {{ session_detail.pk}} Details</div>
          <div class="card-body">
            <!-- <h5 class="card-title"></h5> -->
            <p class="card-text">
              <!-- <p>{{session_detail.identifier}}</p> -->
              <p>Organism: {{session_detail.organism}}</p>
              <p>Genome: {{session_detail.genome}}</p>
              {% if session_detail.fasta_file %}
                <p>Genome File: {{session_detail.fasta_file}}</p>
              {% endif %}
              {% if session_detail.annotation_file %}
                <p>Annotation File: {{session_detail.annotation_file}}</p>
              {% endif %}
              <p>{{session_detail.identifier}}</p>
            </p>
          </div>
        </div>

        <!-- CONDITIONS -->
        {% if session_detail.conditions_fk.all %}
          <p class='lead'>Session Conditions:</p>
          <table class="table mb-1 condition_table">
            <thead>
              <tr>
                <!-- <th>Key</th> -->
                <th>Num</th>
                <th>Condition</th>
                <th>Replicates</th>
                <th>Update</th>
                <th>Delete</th>
                <th>Add Sample</th>
              </tr>
            </thead>
            <tbody>
                {% for condition in session_detail.conditions_fk.all %}
                <tr>
                  <!-- <td>{{ condition.pk }}</td> -->
                  <td>{{forloop.counter}}</td>
                  <td>{{ condition.conditions }}</td>
                  <td>{{ condition.no_replicates }}</td>
                  <td><a class='btn btn-sm btn-warning' href="{% url 'analysis:conditions_update' session_slug=condition.session.identifier conditions_pk=condition.pk %}">Update</a></td>
                  <td><a class='btn btn-sm btn-danger' href="{% url 'analysis:conditions_delete' session_slug=condition.session.identifier conditions_pk=condition.pk %}">Delete</a></td>
                  <td><a class='btn btn-sm btn-success' href="{% url 'analysis:samples_create' session_slug=condition.session.identifier conditions_pk=condition.pk %}">Add Sample</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {% if not session_detail.conditions_fk.all %}
          <h3>No conditions defined.</h3>
        {% endif %}
        <a class='btn btn-success' href="{% url 'analysis:conditions_create' session_slug=session_detail.identifier %}">Add Condition</a>
<br><br>
      <!-- SAMPLES -->
      {% if session_detail.samples_fk.all %}
      <p class='lead'>Session Samples:</p>
      <table class="table mb-1 condition_table">
        <thead>
          <tr>
            <!-- <th>Key</th> -->
            <th>Num</th>
            <th>Libtype</th>
            <th>Condition</th>
            <th>Read One</th>
            <th>Read Two</th>
            <th>Accession</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for sample in session_detail.samples_fk.all %}
            <tr>
              <!-- <td>{{ sample.pk }}</td> -->
              <td>{{forloop.counter}}</td>
              <td>{{ sample.libtype }}</td>
              <td>{{ sample.condition }}</td>
              <td>{{ sample.read_1 }}</td>
              <td>{{ sample.read_2 }}</td>
              <td>{{ sample.accession }}</td>
              <td><a class='btn btn-sm btn-warning' href="{% url 'analysis:samples_update' session_slug=sample.session.identifier samples_pk=sample.pk %}">Update</a></td>
              <td><a class='btn btn-sm btn-danger' href="{% url 'analysis:samples_delete' session_slug=sample.session.identifier samples_pk=sample.pk %}">Delete</a></td>
<!-- session_pk': 2, 'sample_pk': 7
analysis/session_detail/2/samples_update/7/ -->

            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
      {% if not session_detail.samples_fk.all %}
            <h3>{{'No samples defined.'}}</h3>
      {% endif %}

<br><br>
        <!-- WORKFLOW -->
        {% if session_detail.workflow.all %}
        <p class='lead'>Session Workflow:</p>
        <table class="table mb-1 condition_table">
          <thead>
            <tr>
              <!-- <th>Key</th> -->
              <th>Num</th>
              <th>Index</th>
              <th>Mapper</th>
              <th>Assembler</th>
              <th>Analysis</th>
              <th>Status</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for workflow in session_detail.workflow.all %}
            <tr>
              <!-- <td>{{workflow.pk}}</td> -->
              <td>{{forloop.counter}}</td>
              <td>{{ workflow.index }}</td>
              <td>{{ workflow.mapper }}</td>
              <td>{{ workflow.assembler }}</td>
              <td>{{ workflow.analysis }}</td>
              <td>{{ workflow.status }}</td>
              <td><a class='btn btn-sm btn-warning' href="{% url 'analysis:workflow_update' session_slug=workflow.session.identifier workflow_pk=workflow.pk %}">Update</a></td>
              <td><a class='btn btn-sm btn-danger' href="{% url 'analysis:workflow_delete' session_slug=workflow.session.identifier workflow_pk=workflow.pk %}">Delete</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% if not session_detail.workflow.all %}
          <h3>No Workflows defined.</h3>
        {% endif %}
        <a class='btn btn-success' href="{% url 'analysis:workflow_create' session_slug=session_detail.identifier %}">Add Workflow</a>
    </div>
  {% endblock %}
  </body>
</html>
