{%extends 'base.html'%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>Conditions Create</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div id='validate_genome' class='hidden'>
      <p style='margin:30px;padding-top:14px;padding-bottom:22px;padding-left:14px;border-radius:2%;background:#fceeb3;color:#856404;'>Please Select a pre-indexed Genome from the Dropdown</p>
    </div>
      <div class="offset-3 col-md-6">
        <div id='id_session_form' class="">
            <form method="POST"  enctype="multipart/form-data" class="create_form">
              {% csrf_token %}
              <!-- {{form|crispy}} -->
              <div class="form_title">
                <h4>NEW SESSION</h4>
              </div>
              <hr class="my-4">

              <div id='id_genome_index' class='create_form_element'>
              <label for="">{{form.genome_index.label_tag}}</label> <a href="#" data-toggle="tooltip" data-placement="top" title="Use our pre-index organisms or upload your own files." style='text-decoration:none;'>&#9432;</a>
                {{form.genome_index}}
              </div>

              <div id='id_genome' class='create_form_element hidden '>
              <label for="">{{form.genome.label_tag}}</label>
                {{form.genome}}
              </div>

              <div id='id_organism' class='create_form_element hidden '>
              <label for="">{{form.organism.label_tag}}</label>
                {{form.organism}}
              </div>

              <div id='id_salmon' class='create_form_element hidden '>
              <label for="">{{form.salmon.label_tag}}</label> <a href="#" data-toggle="tooltip" data-placement="top" title="Will you be using salmon in your down stream analysis?" style='text-decoration:none;' >&#9432;</a>
                {{form.salmon}}
              </div>

              <div id='id_fasta_dna_file' class='create_form_element hidden'>
                <label for="">{{form.fasta_dna_file.label_tag}}</label>
                <div class=''>
                  {{form.fasta_dna_file}}
                </div>
              </div>

              <div id='id_fasta_cdna_file' class='create_form_element hidden'>
                <label for="">{{form.fasta_cdna_file.label_tag}}</label>
                <div class=''>
                  {{form.fasta_cdna_file}}
                </div>
              </div>

              <div id='id_gtf_file' class='create_form_element hidden'>
                <label for="">{{form.gtf_file.label_tag}}</label>
                <div class=''>
                  {{form.gtf_file}}
                </div>
              </div>

              <div id='id_reactome' class='create_form_element hidden'>
                <label for="">{{form.reactome.label_tag}}</label> <a href="#" data-toggle="tooltip" data-placement="top" title="required for FGSEA... I think." style='text-decoration:none;' >&#9432;</a>
                <div class=''>
                  {{form.reactome}}
                </div>
              </div>

              <input type="submit" class='create_btn' value="Submit">
            </form>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script><!-- jQuery cdn is required prior to using bootstrap -->

      <script type="text/javascript">

        $( "#id_session_form" ).submit(function() {
          if ($('#id_genome_index option:selected').val() == 'pre_index'){ // checks pre_index selected
            if ($('#id_genome option:selected').val() == ''){ // checks pre_indexed genome selected
                unhide(['validate_genome'])
                return false;
            }
          }
        });

        $('#id_genome_index').on('click', function(){
          if ($('#id_genome_index option:selected').val() == 'pre_index'){
            hide(['id_organism','id_salmon','id_fasta_dna_file','id_fasta_cdna_file','id_gtf_file', 'id_reactome']) & unhide(['id_genome'])
          }
          if ($('#id_genome_index option:selected').val() == 'user_provided'){
            unhide(['id_organism','id_salmon']) & hide(['id_genome'])
          }
      });

      $('#id_salmon').on('click', function(){
        if ($('#id_salmon option:selected').val() == 2){ // salmon analysis required
          unhide(['id_fasta_dna_file','id_fasta_cdna_file', 'id_gtf_file', 'id_reactome'])
        }
        if ($('#id_salmon option:selected').val() == 1 || $('#id_salmon option:selected').val() == 3){ // salmon analysis not required or not known
          unhide(['id_fasta_dna_file','id_gtf_file', 'id_reactome']) & hide(['id_fasta_cdna_file'])
        }
      });

      </script>
    {% endblock %}
  </body>
</html>
