{%extends 'base.html'%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>workflow list</title>
    {% endblock %}
  </head>
  <body>
      {% block body %}
      <div class="jumbotron">
      <h3>current workflows in db</h3>
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Session</th>
            <th>Mapper</th>
            <th>Assembler</th>
            <th>Analysis</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
            {% for workflow in workflow_list %}
            <tr>
              <td><a href="session_detail/{{workflow.session.identifier}}">{{ workflow.session }}</a></td>
              <td>{{ workflow.mapper }}</td>
              <td>{{ workflow.assembler }}</td>
              <td>{{ workflow.analysis }}</td>
              {% if workflow.status %}
                <td>Submitted</td>
              {% endif %}
              {% if not workflow.status %}
                <td>Not Submitted</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
    {% endblock %}
  </body>
</html>

<!-- <td><a href="workflows_detail/{{ workflow.pk }}">{{ workflow.workflows }}</a></td> -->
