{%extends 'base.html'%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>Workflow Create</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <div class="offset-3 col-md-6">
          <div class="form-group">
            <form method="POST"  enctype="multipart/form-data" class="create_form">
              {% csrf_token %}

              <div class="form_title">
                <h4>NEW WORKFLOW</h4>
              </div>
              <hr class="my-4">

              {{form|crispy}}

              <!--
              <div id='id_label' class='create_form_element'>
                <label for="">{{form.label.label_tag}}</label>
                {{form.label}}
              </div>
              <div id='id_mapper' class='create_form_element'>
                <label for="">{{form.mapper.label_tag}}</label>
                {{form.mapper}}
              </div>
              <div id='id_assembler' class='create_form_element'>
                <label for="">{{form.assembler.label_tag}}</label>
                {{form.assembler}}
              </div>
              <div id='id_analysis' class='create_form_element'>
                <label for="">{{form.analysis.label_tag}}</label>
                {{form.analysis}}
              </div>
              <div id='id_status' class='create_form_element'>
                <label for="">{{form.status.label_tag}}</label>
                {{form.status}}
              </div>
              <div id='id_status' class='create_form_element'>
                <label for="">{{form.status.label_tag}}</label>
                {{form.status}}
              </div> -->
              <input type="submit" class='create_btn' value="Submit">
            </form>

          </div>

      </div>
    {% endblock %}
  </body>
</html>
