{%extends 'base.html'%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>Workflow Create</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <div class="offset-3 col-md-6">
        <input id='id_ajax_test' onclick="fireAjax()" type="submit" name="" class='btn btn-success' value="submit">
        <div id="output_box"></div>
        {{data}}

<h1>Currently</h1>
{% for assembler in assembler %}
  {{assembler}}
{% endfor %}

          <div class="form-group">
            <form method="POST"  enctype="multipart/form-data" class="create_form">
              {% csrf_token %}

              <div class="form_title">
                <h4>NEW WORKFLOW</h4>
              </div>
              <hr class="my-4">

              <!-- {{form|crispy}} -->


              <div id='id_label' class='create_form_element'>
                <label for="">{{form.label.label_tag}}</label>
                {{form.label}}
              </div>
              <div id='id_mapper' class='create_form_element'>
                <label for="">{{form.mapper.label_tag}}</label>
                <!-- {{form.mapper}} -->
                <select onchange='filterAssembler()'class="form-control" name="">
                  <option value="">---------</option>
                  {% for mapper in mapper %}
                    <option value="{{mapper}}">{{mapper}}</option>
                  {% endfor %}
                </select>
              </div>
              <div id='id_assembler' class='create_form_element'>
                <label for="">{{form.assembler.label_tag}}</label>
                <!-- {{form.assembler}} -->
                <select onchange="" class="form-control" name="">
                  <option value="">---------</option>
                  {% for assembler in assembler %}
                    <option value="{{assembler}}">{{assembler}}</option>
                  {% endfor %}
                </select>
              </div>
              <div id='id_analysis' class='create_form_element'>
                <label for="">{{form.analysis.label_tag}}</label>
                {{form.analysis}}
              </div>
              <div id='id_status' class='create_form_element'>
                <label for="">{{form.status.label_tag}}</label>
                {{form.status}}
              </div>
              <div id='id_status' class='create_form_element'>
                <label for="">{{form.status.label_tag}}</label>
                {{form.status}}
              </div>
              <input type="submit" class='create_btn' value="Submit">
            </form>
            <h2>experiments</h2>
            mapper: {{mapper}}<br>
            assembler: {{assembler}}<br>
            filtered_assembler: {{filtered_assembler}}
            {% if filtered_assembler %}
              hi there
            {% endif %}
          </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script type="text/javascript">
// $('#id_mapper option:selected').val()

  function fireAjax(){
    var endpoint = 'axaj_test'
    $.ajax({
      method: 'GET',
      url: endpoint,
      success: function(data){
        console.log(data)
        console.log(data['key1'])
        // $('#output_box').html = 'fe fi fo fum'
        $('#output_box').html(data['HISAT2'])
      },
      error: function(error_data){
        console.log('error')
        console.log(error_data)
      }
    })
  }


      function filterAssembler(){
        // console.log('select changed!')
        var mapper = $('#id_mapper option:selected').val()
        console.log(mapper)
        assembler = {'STARAligner':['STRINGTIE', 'CUFFLINKS', 'MISO', 'HTSEQ', 'FEATURECOUNTS'],
                      'HISAT2':['STRINGTIE', 'CUFFLINKS', 'MISO', 'HTSEQ', 'FEATURECOUNTS'],
                      'SALMON':['SALMON']}
        $('#output_box').html(assembler[mapper])
        return filtered_assembler = assembler[mapper]
        // console.log(filtered_assembler)
      }


      </script>
    {% endblock %}
  </body>
</html>
